includes:
    - vendor/symplify/phpstan-rules/config/symplify-rules.neon

parameters:
    level: 8

    reportUnmatchedIgnoredErrors: false

    paths:
        - config
        - src
        - tests

    excludePaths:
        - */Source/*
        - */Fixture/*

    ignoreErrors:
        -
            message: '#Attribute must have all names explicitly defined#'
            path: "tests/*"

    cognitive_complexity:
        class: 30
        function: 9

    type_coverage:
        return_type: 100
        param_type: 100
        property_type: 100
        print_suggestions: true

    unused_public:
        methods: true
        properties: true
        constants: true
